<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Directory" value="C:\Users\Nathan Alden\Desktop\JuniorRoute\_site"/>
		<add key="Filters" value="*.js;*.css;*.htm;*.html"/>
		<add key="RefreshDelayInMilliseconds" value="500"/>
		<add key="Host" value="127.0.0.1"/>
		<add key="Port" value="4242"/>
	</appSettings>
</configuration>